
<!--Conditional statement to capture one user-->
<div *ngIf="user" class="user-create-container box-shadow">
  <label class="label">ID</label>
<img class="book-cover" [src]="user.image_url" alt="user">

  <!--How to display each attribute onto the web page-->
  <label  class="label">Id</label>
  <input [(ngModel)]="user.id" class="form-input" type="text">
  <label  class="label">Username</label>
  <input [(ngModel)]="user.username" class="form-input" type="text">
  <label  class="label">Password</label>
  <input [(ngModel)]="user.password" class="form-input" type="text">
  <label  class="label">Email</label>
  <input [(ngModel)]="user.email" class="form-input" type="text">
  <label class="label">User Role</label>
  <input [(ngModel)]="user.role"class="form-input" type="text">

  <!--Calls and use the function in component.ts file-->
   <button (click)="updateUser(user._id, user)" class="btn pull-right">Update User</button>
</div>
